<div id = "header">
<h1 id="masthead">My Language To-Study List</h1>
</div>

<div class="row">
  <h2 class="header1">What language would you like to add?</h2>
  <form class="formInput" method="POST" action="/" class="button-size">
    <input id="input" type="text" name="language"></input>
    <button class="submit" type="submit">Add</button>
  </form>
</div>

<br><br>

<div class = "row">
  <div class= "col-lg-6">
    <h2 class="headers">To Study<br>(click when studied)</h2>
    <br>
    <ul>
      {{#each language}}
        {{#unless this.studied}}
        <li>
          <form action="/{{this.id}}?_method=PUT" method="POST">
            <button class = "studiedBtn" type="submit">{{this.language}}</button>
          </form>
        </li>
        {{/unless}}
      {{/each}}
    </ul>
    <br>
  </div>

  <div class="col-lg-6">
    <h2 class="headers">Studied<br>(congrats!)</h2>
    <br>
    <ul>
      {{#each language}}
        {{#if this.studied}}
        <li>
          <p class= "listItems">
           {{this.language}}
          </p>
        </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>


