* {
	box-sizing: border-box;
}

body {
	margin-left:100px;
	margin-right:100px;
	font-family: "Righteous";
}

#masthead {
	background:url(../images/script.png);
	border-radius:15px;
	color:black;
	text-align:center;
	padding:30px;
	font-size:100px;
	font-weight:bolder;
	font-family: "Satisfy";
}

.listItems {
	text-align:center;
}

.header1 {
	text-align:center;
}

.headers {
	text-align:center;
	font-size:50px;
	font-weight:bold;
	color:black;
}

.formInput {
	text-align:center;
	font-size:25px;
}

#input {
	border-radius:15px;
}

.submit {
	margin:auto;
	text-align:center;
	color:black;
	border-radius:15px;
}

ul {
	list-style-type:none;
	font-size:30px;
}

.studiedBtn {
	font-size:30px;
	text-align:center;
	margin:auto;
	margin-bottom:10px;
	display:block;
	color:black;
	border-radius:15px;
}
